api:
  on_client_connected:
    then:
      - script.execute: ${id}_update_time

# ============================================================================ #
script:
  - id: ${id}_update_time
    then:
      - wait_until:
          condition:
            time.has_time: 
          timeout: 60s
      - logger.log: "Time might be valid"
      - wait_until:
          condition:
            lambda: |-
              return !isnan(id(mean_temp).state);
          timeout: 60s
      - logger.log: "Home assistant mean_temp sensor might be valid"
      - if:
          condition:
            and:
              - time.has_time: 
              - lambda: |-
                  return !isnan(id(mean_temp).state);
          then:
            - logger.log: "Prerequisites met for setting up the irrigation automation. Proceeding..."
            - script.execute: ${id}_update_time_post_check
          else:
            - logger.log: "Skipping setting up the irrigation automation: missing some of the required values"
  - id: ${id}_update_time_post_check
    then:
      - lambda: |-
          if (id(${id}_automatic_mode).state) {
            int h_mor = atoi(((id(${id}_morning_time).state).substr(0,2)).c_str());
            int m_mor = atoi(((id(${id}_morning_time).state).substr(3,2)).c_str());
            int h_aft = atoi(((id(${id}_afternoon_time).state).substr(0,2)).c_str());
            int m_aft = atoi(((id(${id}_afternoon_time).state).substr(3,2)).c_str());

            pair<string, string> aux = get_irrigation_time(id(${id}_next_irrigation_day), id(${id}_last_automatic_execution), 
              id(mean_temp).state, id(mean_humid).state, id(min_humid).state, id(${id}_irrigation_mode).state, h_mor, m_mor, h_aft, m_aft);
            id(${id}_timestamps_on).publish_state(aux.first);
            id(${id}_timestamps_off).publish_state(aux.second); }
          else {
            id(${id}_timestamps_on).publish_state("");
            id(${id}_timestamps_off).publish_state(""); }

# ============================================================================ #
time:
  - platform: homeassistant
    id: time_irrigation_${id}
    timezone: Europe/Madrid
    on_time:
      - seconds: ${update_irrigation_time}
        minutes: 30
        hours: 0
        then:
          - script.execute: ${id}_update_time