packages:
  valve_control: !include
    file: valve.yaml
  time_left_sensor: !include
    file: ../../common/time_controlled_entity/left_sensor.yaml
  next_duration_sensor: !include
    file: ../../common/time_controlled_entity/next_duration_sensor.yaml
  manual_duration_number: !include
    file: ../../common/time_controlled_entity/manual_duration_number.yaml
  text_sensor: !include
    file: ../../common/time_controlled_entity/text_sensor.yaml
  valve_automation: !include
    file: pool_valve_automation.yaml
  valve_logic: !include
    file: pool_valve_logic.yaml
  morning_time: !include
    file: time_morning_select.yaml
    vars:
      initial_option: ${morning_initial_option}
  afternoon_time: !include
    file: time_afternoon_select.yaml
    vars:
      initial_option: ${afternoon_initial_option}

api:
  on_client_connected:
    then:
      - wait_until:
          condition:
            time.has_time: 
          timeout: 60s
      - logger.log: "Time might be valid, updating time dependent entities"
      - script.execute: ${pool_id}_update_time
      - homeassistant.service:
          service: esphome.pool_filling_completed
