switch:
  - platform: template
    name: Pool filling
    id: ${id}_virtual
    internal: True
    lambda: return (id(${id}).position == VALVE_OPEN && id(${master_id}).position == VALVE_OPEN);
    turn_on_action:
      - if:
          condition:
            - or:
              - switch.is_off: ${ac_adapter_id}
              - lambda: return (id(${master_id}).position == VALVE_CLOSED);
          then:
            - switch.turn_on: ${ac_adapter_id}
            - valve.open: ${master_id}
      - valve.close: ${north_id}
      - valve.close: ${south_id}
      - valve.open: ${id}
      - component.update: ${id}_left
      - component.update: ${irrigation_id}_state
    turn_off_action:
      - script.execute: close_master_valve
      - script.wait: close_master_valve
      - valve.close: ${id}
      - component.update: ${id}_left
      - component.update: ${irrigation_id}_state
      - homeassistant.service:
          service: esphome.pool_filling_completed
      - lambda: id(${id}_filling_requested) = false;
