packages:
  #### Master valve
  ${master_id}_valve: !include
    file: valve/valve.yaml
    vars:
      id: ${master_id}
      upper_id: ${master_upper_id}
      relay_pin: ${master_valve_pin}
  close_master_valve: !include 
    file: valve/irrigation_close_master.yaml

  #### North valve
  ${north_id}_valve: !include
    file: valve/irrigation_valve.yaml
    vars:
      id: ${north_id}
      upper_id: ${north_upper_id}
      sensor_id: ${north_sensor_id}
      manual_max_duration: ${north_manual_max_duration}
      relay_pin: ${north_valve_pin}
      text_on_update: ${north_text_on_update}
      text_off_update: ${north_text_off_update}
      automation_check: ${north_automation_check}
      left_update: ${north_left_update}
      update_next_day: ${north_update_next_day}
      morning_initial_option: ${north_morning_initial_option}
      afternoon_initial_option: ${north_afternoon_initial_option}
      mode_initial_option: ${north_initial_option}
      update_irrigation_time: ${north_update_irrigation_time}

  #### South valve
  ${south_id}_valve: !include
    file: valve/irrigation_valve.yaml
    vars:
      id: ${south_id}
      upper_id: ${south_upper_id}
      sensor_id: ${south_sensor_id}
      manual_max_duration: ${south_manual_max_duration}
      relay_pin: ${south_valve_pin}
      text_on_update: ${south_text_on_update}
      text_off_update: ${south_text_off_update}
      automation_check: ${south_automation_check}
      left_update: ${south_left_update}
      update_next_day: ${south_update_next_day}
      morning_initial_option: ${south_morning_initial_option}
      afternoon_initial_option: ${south_afternoon_initial_option}
      mode_initial_option: ${south_initial_option}
      update_irrigation_time: ${south_update_irrigation_time}

api:
  on_client_connected:
    then:
      - wait_until:
          condition:
            time.has_time: 
          timeout: 60s
      - logger.log: "Time might be valid, updating time dependent entities"
      - component.update: irrigation_period
      - binary_sensor.template.publish:
          id: ${irrigation_id}_available
          state: !lambda return water_available();

# ============================================================================ #
script:
  - id: avoid_freezing_pipes
    then:
      - while:
          condition:
            sensor.in_range:
              id: act_temp
              below: 0
          then:
            - switch.turn_on: ${north_id}_virtual
            - delay: 5s
            - switch.turn_on: ${south_id}_virtual
            - delay: 4 min
            - switch.turn_off: ${north_id}_virtual
            - delay: 5s
            - switch.turn_off: ${south_id}_virtual
            - delay: 45 min

# ============================================================================ #
binary_sensor:
  #### Water available boolean
  # Not having a lambda value makes it to not evaluate in every loop()
  - platform: template
    id: ${irrigation_id}_available
    internal: True
    on_state:
      then:
        - component.update: ${irrigation_id}_state

# ============================================================================ #
text_sensor:
  #### Period with water available
  - platform: template
    name: Periodo con agua de riego
    id: irrigation_period
    update_interval: never
    icon: mdi:water-check
    lambda: |-
      auto time_now = id(time_irrigation).now();
      if (time_now.month % 2 == 1) {
        return {"Mañana"};
      }
      return {"Tarde"};
  - platform: template
    name: Estado del riego
    id: ${irrigation_id}_state
    update_interval: never
    icon: mdi:sprout
    lambda: |-
      if (id(${irrigation_id}_available).state) {
        if (id(${master_id}).position == VALVE_OPEN && (id(${north_id}).position == VALVE_OPEN || id(${south_id}).position == VALVE_OPEN) && id(${pool_id}).position == VALVE_CLOSED)
          return {"Regando..."};
        if(id(${master_id}).position == VALVE_CLOSED && id(${north_id}).position == VALVE_CLOSED && id(${south_id}).position == VALVE_CLOSED && id(${pool_id}).position == VALVE_CLOSED) 
          return {"Disponible"};
        if (id(${master_id}).position == VALVE_OPEN && id(${north_id}).position == VALVE_CLOSED && id(${south_id}).position == VALVE_CLOSED && id(${pool_id}).position == VALVE_OPEN)
          return {"No disponible"};
      }
      else {
        if (id(${master_id}).position == VALVE_CLOSED && id(${north_id}).position == VALVE_CLOSED && id(${south_id}).position == VALVE_CLOSED && id(${pool_id}).position == VALVE_CLOSED) {
          return {"No disponible"};
        }
      }
      return {"¡Error! Comprueba las electroválvulas"};
    on_value:
      - component.update: ${pool_id}_state

# ============================================================================ #
time:
  - platform: homeassistant
    id: time_irrigation
    timezone: Europe/Madrid
    on_time:
      - seconds: 0
        minutes: 0
        hours: 0
        days_of_month: 1
        then:
          - component.update: irrigation_period
      - seconds: 0
        minutes: 0
        hours: 0,8,16
        then:
          - binary_sensor.template.publish:
              id: ${irrigation_id}_available
              state: !lambda return water_available();

