substitutions:
  name: irrigation
  upper_name: Irrigation
  garage_light_id: garage_light
  garage_light_upper_id: Luz del garaje
  garage_icon: mdi:wall-sconce-flat
  ac_adapter_id: ac_adapter
  irrigation_id: irrigation
  master_id: master
  master_upper_id: Master
  north_id: north
  north_upper_id: North
  north_sensor_id: north_virtual
  south_id: south
  south_upper_id: South
  south_sensor_id: south_virtual
  pool_id: pool
  pool_upper_id: Pool

  ### GPIO Pins
  garage_light_pin: "14"
  ac_adapter_pin: "5"
  master_valve_pin: "4"
  pool_valve_pin: "32"
  north_valve_pin: "33"
  south_valve_pin: "17"

  ### Maximum manual durations
  north_manual_max_duration: "240"
  south_manual_max_duration: "240"
  pool_manual_max_duration: "480"

  ### Initial time options
  north_morning_initial_option: '09:00'
  north_afternoon_initial_option: '16:30'
  south_morning_initial_option: '09:00'
  south_afternoon_initial_option: '16:30'
  pool_morning_initial_option: '15:00'
  pool_afternoon_initial_option: '23:00'

  ### Irrigation mode initial options
  north_initial_option: Frutales
  south_initial_option: Hoja caduca

  ### Update seconds to avoid overlapping in code
  north_left_update: "1"
  south_left_update: "3"
  pool_left_update: "5"
  north_automation_check: "7"
  south_automation_check: "12"
  pool_automation_check: "17"
  north_text_on_update: "22"
  north_text_off_update: "25"
  south_text_on_update: "28"
  south_text_off_update: "31"
  pool_text_on_update: "34"
  pool_text_off_update: "37"
  north_update_next_day: "40"
  south_update_next_day: "42"
  north_update_irrigation_time: "45"
  south_update_irrigation_time: "50"

packages:
  device_base: !include common/device_base.irrigation.yaml
  ethernet: !include common/wt32-eth01.config.yaml
  basic_control: !include common/basic_control.yaml
  time: !include common/time.yaml
  ha_parameters: !include irrigation/ha_parameters.yaml
  ac_adapter: !include irrigation/ac_adapter_switch.yaml
  irrigation_control: !include irrigation/irrigation_control.yaml
  pool_filling: !include irrigation/pool_filling.yaml
  garage_light: !include 
    file: common/binary_light.yaml
    vars: 
      id: ${garage_light_id}
      upper_id: ${garage_light_upper_id}
      pin: ${garage_light_pin}
      icon: ${garage_icon}

esphome:
  includes: 
    - time_control.hpp
    - irrigation.hpp
